table.table
    thead
        tr
            th ID
            th Remitente
            th Destinatario
            th Concepto
            th Fecha
            th: i.fa.fa-inr(aria-hidden="true")
    tfoot
        tr
            th ID
            th Remitente
            th Destinatario
            th Concepto
            th Fecha
            th: i.fa.fa-inr(aria-hidden="true")
    tbody
        each formattedTransaction in formattedTransactions
            tr
                th= formattedTransaction.id
                td= formattedTransaction.sender
                td= formattedTransaction.receiver
                td= formattedTransaction.concept
                td= formattedTransaction.timestamp
                td= formattedTransaction.quantity